
/*h1{
	display: flex;
}
input{
	padding: 0;
	display: flex;
	outline: none;
	border-radius: 5px;
	border: 0px;
	background-color: #bc4504;
	color:#f7f6f4;
	font-family: Geometria , sans-serif;
	font-size: 1em;
}*/