
<!-- <p>{{time}}</p> -->
<!-- <p *ngFor="let item of items; let i=index"> {{i+1}} {{item}}</p> -->



 <!--  <ng-container
  *ngIf="isLoggedIn; then loggedIn; else loggedOut">

</ng-container>
<ng-template #loggedIn>
  <div>
    Welcome back, friend.
  </div>
</ng-template>
<ng-template #loggedOut>
  <div>
    Please friend, login.
  </div>
</ng-template>
 --><!-- 
 <button (click)="myEvent($event)">Event</button> -->
 <!-- <button *ngIf="isCollapsed" (click)="toggleCollapse()">Show</button>
  <button *ngIf="!isCollapsed" (click)="toggleCollapse()">Hide</button>
  <div *ngIf="!isCollapsed"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quasi dolore blanditiis aperiam assumenda, esse amet veritatis soluta dignissimos quam, eius? Nulla, minus sapiente totam ipsa, molestias quidem pariatur perferendis.</p></div> -->
  
  <!-- <input type="text" [(ngModel)]="text">
 <h1>Привіт {{text}}</h1> -->	
  <div [ngStyle]="{'color':'red'}">
  	<h1>Hello World!</h1>
  	<p [ngClass]="{	class2: true}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsa cum labore, unde ipsam expedita obcaecati quibusdam dicta, cupiditate aliquid dolor reiciendis debitis consequuntur maiores iusto quia praesentium temporibus corporis.</p>
  </div>