<div class="post">
	<div class="header">
		<h1>Post Title</h1>
		<button routerLink='/' class="btn btn-link">Home</button>
	</div>
	<div class="info">
		<strong>Author</strong>
		<small>12.09.219</small>
	</div>
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut rem, et, expedita provident modi ab non possimus optio similique, explicabo fugiat voluptatem, ex. Mollitia delectus ex vel officiis deserunt perspiciatis impedit dignissimos repellat, vitae esse possimus non aperiam, asperiores voluptatem ut. Minima pariatur eos quidem necessitatibus odio nulla placeat reprehenderit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut rem, et, expedita provident modi ab non possimus optio similique, explicabo fugiat voluptatem, ex. Mollitia delectus ex vel officiis deserunt perspiciatis impedit dignissimos repellat, vitae esse possimus non aperiam, asperiores voluptatem ut. Minima pariatur eos quidem necessitatibus odio nulla placeat reprehenderit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut rem, et, expedita provident modi ab non possimus optio similique, explicabo fugiat voluptatem, ex. Mollitia delectus ex vel officiis deserunt perspiciatis impedit dignissimos repellat, vitae esse possimus non aperiam, asperiores voluptatem ut. Minima pariatur eos quidem necessitatibus odio nulla placeat reprehenderit.</p>
	</div>
</div>